// Variables

$green: #7FC356
$yellow: #FFC459
$yellow2: rgba(255,196,89, 0.85)


// Fonts

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900)
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic)

// Mixins 

=border-radius($radius)
    -moz-border-radius:     $radius
    -webkit-border-radius:  $radius
    -ms-border-radius:      $radius
    border-radius:          $radius

=border-box
    box-sizing: border-box


// Container

*
    font-family: "Open Sans"

.container
    color: #333
    padding: 40px 0
    font-size: 16px
    line-height: 1.5em
    
    &.main
        padding-top: 100px

.g
    background: #f8f8f8

.section
    padding: 50px 0

.r
    text-align: right

.c
    text-align: center

p.big
    font-size: 18px
    width: 80%
    margin: 10px auto 40px
    line-height: 1.5em

p
    margin-bottom: 0


// Headers

h1
    text-align: center
    margin: 10px 0 40px

h3

    font-size: 22px
    margin: 20px 0 20px
    font-weight: bold

// Button

.button-wrap 
    text-align: center
    margin: 0 0 20px

.button
    display: inline-block
    background: $green
    color: #fff
    font-size: 13px
    padding: 10px 15px
    margin: 0 5px
    width: 100px
    text-align: center
    +border-box
    text-transform: uppercase
    font-weight: 600
    +border-radius(20px)

    &:hover
        color: #fff

.button-right
    background: $green
    padding: 10px 15px
    display: inline-block
    color: #fff



// Navigation Bar

.navbar
    +border-radius(0)
    position: fixed
    z-index: 99
    width: 100%
    border: none

    .nav-background
        width: 100%
        z-index: 98
        position: absolute
        height: 55px
        background: $green

    .container
        z-index: 99
        position: relative
        padding-top: 0
        font-size: 13px


.navbar-default
    background: none
    text-transform: uppercase
    font-weight: 600
    font-size: 13px

    a
        color: #fff


// Slider

.banner

    li
        max-height: 450px
        overflow: hidden
    img
        width: 100%

    .caption
        position: absolute
        top: 300px
        width: 400px
        margin: 0 auto
        color: #fff
        text-align: center
        background: $green
        padding: 30px


// About Us People

.people_wrap
    text-align: center
    border: 1px solid #eee
    padding: 30px 15px
    height: 380px
    +border_radius(5px)

    .people_img
        width: 100px
        height: 100px
        display: inline-block
        margin-bottom: 20px

        img
            width: 100%
            +border-radius(100%)

    .people_name
        margin-bottom: 5px
        font-weight: 600

    .people_job
        margin: 5px 0
        font-style: italic

// Icons

.sm-icon


.s-icon
    opacity: .4
    max-width: 55px

// Global Impact

#impact
    p
        text-align: left


// Projects

h2.projects
    margin: 40px 0 20px



.project-box
    border: 1px solid #ddd
    +border_radius(5px)
    margin-right: 20px
    position: relative


.project-box img
    max-width: 100%

.project-image
    overflow: hidden
    height: 200px

.project-box 
    p
        padding: 20px 15px

    h3
        background: $yellow
        color: #fff
        margin: 0
        padding: 15px 20px
        display: inline-block
        font-size: 17px
        font-weight: 600
        position: absolute
        top: 153px


// Footer

#footer
    background: #555

    .container
        color: #fff!important

