// Variables

$green: #7FC356


// Fonts

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900)


// Mixins 

=border-radius($radius)
    -moz-border-radius:     $radius
    -webkit-border-radius:  $radius
    -ms-border-radius:      $radius
    border-radius:          $radius

=border-box
    box-sizing: border-box


// Container

*
    font-family: "Open Sans"

.container
    color: #333
    padding-top: 100px

.section
    padding: 50px 0


// Headers

h1
    font-size: 30px
    font-weight: 600


// Navigation Bar

.navbar
    +border-radius(0)
    position: fixed
    z-index: 99
    width: 100%
    border: none

    .nav-background
        width: 100%
        z-index: 98
        position: absolute
        height: 55px
        background: $green

    .container
        z-index: 99
        position: relative
        padding-top: 0


.navbar-default
    background: none
    text-transform: uppercase
    font-weight: 600
    font-size: 13px

    a
        color: #fff


// Slider

.banner

    li
        max-height: 450px
        overflow: hidden
    img
        width: 100%

    .caption
        position: absolute
        top: 300px
        width: 400px
        margin: 0 auto
        color: #fff
        text-align: center
        background: $green
        padding: 30px

